/* Change the background of the entire visible page */
body {
    background-color: #ffc7d5; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Typewriter', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(235, 192, 255); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
    color: rgb(255, 255, 255);
}

 
h3 {
    color: rgb(255, 124, 152)
} 

ol {
    color: rgb(255, 255, 255)
}
